<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>

  <body>
    <nav>
      <h1><a href="/"> <%=shopData.shopName%> </a></h1>
      <% if(!user) { %>
      <p>
        <a href="/login">LOGIN</a> /
        <a href="/register">REGISTER</a>
      </p>

      <% } else { %>
      <p><a href="/post">EVENT LIST</a></p>
      <p><a href="/post/add">ADD EVENT</a></p>
      <p><a href="/my">MY</a></p>
      <p><a href="/auth/logout">LOGOUT</a></p>
      <% } %>
    </nav>
    <main>
      <h1>LOGIN</h1>
      <form action="/auth/login" method="post">
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="login" />
      </form>
      <a href="/forgot-password">forgot password?</a>
      <a href="/register">register</a>
    </main>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get("error")) {
          alert(new URL(location.href).searchParams.get("error"));
        }
      };
    </script>
  </body>
</html>
